@use "../../../styles/mixins.scss" as mixins;

.experience {
  padding: 7.5rem 24%;

  @include mixins.respond(laptop) {
    padding: 7.5rem 18%;
  }

  @include mixins.respond(tablet-sm) {
    padding: 6.5rem 10%;
  }

  @include mixins.respond(tablet-sm) {
    padding: 6.5rem 8%;
  }
}

.experience__heading {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.experience__heading-text {
  display: flex;
  align-items: flex-end;
  gap: 1.5rem;

  span {
    font-family: var(--font-fira-mono);
    color: var(--green);
    font-size: 2.2rem;
    line-height: 1.18;
  }

  h2 {
    line-height: 1;
    font-family: var(--font-inter);
    font-size: 3.2rem;
    color: var(--lightest-slate);
  }
}

.experience__heading-line {
  height: 0;
  flex-grow: 1;
  border-top: 1px solid var(--lightest-navy);
}

.experience__skills {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 8rem;

  @include mixins.respond(laptop) {
    gap: 3rem;
  }

  @include mixins.respond(tablet-sm) {
    margin-top: 6rem;
  }
}

.experience__skill-icon {
  width: 8rem;
  height: 8rem;
  border-radius: 0.4rem;
  background-color: var(--lightest-navy);
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    --scale: 0;
    content: attr(data-tooltip);
    width: max-content;
    padding: 0.6rem 1rem;
    position: absolute;
    top: -4px;
    left: 50%;
    font-family: var(--font-fira-mono);
    font-size: 1.4rem;
    color: var(--white);
    background-color: var(--light-navy);
    transform: translateX(-50%) translateY(-100%) scale(var(--scale));
    transform-origin: bottom center;
    border-radius: 0.4rem;
    transition: all 0.3s ease-in-out;
  }

  &:hover::after {
    --scale: 1;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.4rem;
    background-color: rgba(10, 25, 47, 0.7);
    transition: all 0.3s ease-in-out;
  }

  &:hover::before {
    opacity: 0;
  }

  img {
    width: 6rem;
    filter: hue-rotate(120deg) saturate(0) brightness(50%);
    transition: all 0.3s ease-in-out;
  }

  &:hover img {
    filter: unset;
  }
}
